<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955944290750-ni4e6mfnkr2ghgjtvdi3pnaopm9svcaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955944290750-ni4e6mfnkr2ghgjtvdi3pnaopm9svcaa</string>
	<key>API_KEY</key>
	<string>AIzaSyAluIPFi2NEYYFz1qRk5IvXuXRNRmCWLk8</string>
	<key>GCM_SENDER_ID</key>
	<string>955944290750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agaisin.SwiftUITestProject</string>
	<key>PROJECT_ID</key>
	<string>swiftuitestapp-ddc41</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitestapp-ddc41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955944290750:ios:65903a7f29ff6322f611ef</string>
</dict>
</plist>